[Desktop Entry]
Type=Application
Name=Hibernate
GenericName=Hibernate
Comment=hibernate the machine
Exec=lxqt-leave --hibernate
Icon=system-suspend-hibernate
Categories=LXQt;X-Leave
OnlyShowIn=LXQt

#TRANSLATIONS_DIR=../translations

# Translations
Comment[de]=Rechner in Tiefschlaf versetzen
Name[de]=Tiefschlaf
